{{>layout/header}}

<h1>유저 등록</h1>

<div class="col-md-12">
  <div class="col-md-4">
    <form action="">
      <div class="form-group">
        <lavel for="name">이름</lavel>
        <input type="text" class="form-control" id="name" placeholder="사용자를 입력하세요">
      </div>

      <div class="form-group">
        <lavel for="age">나이</lavel>
        <input type="number" class="form-control" id="age" placeholder="나이를 입력하세요">
      </div>
    </form>

    <a href="/" role="button" class="btn button-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save2">등록</button>
  </div>
</div>

{{>layout/footer}}